<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile Show Page</title>
  </head>
  <body>
    <%= image_tag(current_user.image) %>
    <h2> <%= current_user.display_name %></h2>
    <h3> <%= current_user.user_name %></h3>
    <h4> <%= current_user.email %></h4>
    <%= link_to "Create and View Playlists", playlists_path %>
  </body>
</html>
