<head>
  <body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
</head>

<h2 class="white-text center">Playlist:</h2>
<h2 class="white-text center"><%= @playlist[:pl_name] %></h2>

<div class="white-transparent">
  <div class="row">
    <div class="col m3">
      <p></p>
    </div>

    <div class="col m6 center-align">
      <h5 class="white-text">Suggest songs for playlist</h5>
      <%= form_tag requests_path, method: :get do %>
        <%= label_tag :query %>
        <%= text_field_tag :query %>
      <% end %>
      <button class="request-search btn lime darken-2">Search</button><br>
    </div>
  </div>
</div>

<%= render "partials/modals/request_search" %>

<script>
  $playlistId = '<%= @playlist[:pl_id] %>';
  $playlistName = '<%= @playlist[:name] %>';
  $user = '<%= @playlist[:user] %>';
  $userId = '<%= @playlist[:user_id] %>';
</script>
