<head>
  <body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
</head>

<h2 class="white-text center">Playlist:</h2>
<h2 class="white-text center"><%= @playlist[:pl_name] %></h2>

<div class="white-transparent">
  <div class="row">
    <div class="col m3">
      <p></p>
    </div>

    <div class="col m6 center-align">
      <h5 class="white-text">Suggest songs for playlist</h5>
      <%= form_tag requests_path, method: :get do %>
        <%= label_tag :query %>
        <%= text_field_tag :query %>
      <% end %>
      <button class="request-search btn lime darken-2">Search</button><br>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="request-search" class="modal request-mdl black">
  <div class="modal-header">
    <a class="modal-action modal-close waves-effect waves-green btn-flat white-text">X</a>
  </div>
  <div class="row">
    <div class="col s12 centered">
      <h1 class="center white-text">Search Results:</h1>
      <table class="bordered centered request-table">
        <thead class="white-text">
          <tr>
            <th data-field="name"><h5>Name</h5></th>
            <th data-field="artist">Artist(s)</th>
            <th data-field="add"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $playlistId = '<%= @playlist[:id] %>';
  $playlistName = '<%= @playlist[:name] %>';
  $user = '<%= @playlist[:user] %>';
  $userId = '<%= @playlist[:user_id] %>';
</script>
