<head>
  <body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
</head>

  <div class="row">
    <div class="col s10 offset-s2 white-text">
      <h1 class="white-text center">Search Results:</h1>
      <table class="bordered highlight centered">
        <thead>
          <tr>
            <th data-field="name"><h5>Name</h5></th>
            <th data-field="artist">Artist(s)</th>
            <th data-field="add"></th>
          </tr>
        </thead>

        <tbody>
          <% @search_results.each do |song| %>
            <tr>
              <td><%= song[:name].first(45) %></td>
              <td><%= song[:artists] %></td>
              <td>
                <div class="">
                  <%= form_tag songs_path, method: :post do %>
                    <%= hidden_field_tag(:pl_id, params[:pl_id]) %>
                    <%= hidden_field_tag(:user, params[:user]) %>
                    <%= hidden_field_tag(:song_id, song[:song_id]) %>
                    <%= submit_tag "Add to Playlist", id: "song_#{song[:song_id]}", class: "add-song btn medium lime darken-2" %>
                  <% end %>
                </div>
              </td>
              <!-- <td><button class="add-song btn medium lime darken-2" type="button" name="direct-add-song">Add Track</button></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
