<head>
  <body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
</head>

<body>
  <div class="list-header center-align">
    <h3 class="white-text user-name"> <%= current_user.user_name %></h3>
    <h2 class="white-text center user-name">Your Playlists</h2>
    <button data-target="new-playlist" class="btn large lime darken-2 modal-trigger">Create New Playlist</button><br>
  </div>

  <div class="cards row">
    <% @playlists.each do |list| %>
    <div class="col s4">
      <div class="card blue-grey darken-1 pl-card">
        <div class="card-content white-text">
          <span class="card-title black-text"><h3 class="card-top"><%= list.name %></h3></span>
          <p class="bottom">There are currently <%=list.total%> tracks in this playlist.
             Navigate into playlist to see more options.</p>
        </div>
        <div id="<%= list.name %>" class="card-action">
          <%= link_to "View/Edit Details", playlist_path(list, pl_id: list.id, user: current_user.user_name, pl_name: list.name, user_id: current_user.id) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

<%= render "partials/modals/new_playlist" %>

</body>

<script>
  var $userId = '<%= current_user.id %>'
</script>
