<h2>Playlist: <%= @playlist.name %></h2>
<%= link_to "Rename Playlist", edit_playlist_path(@playlist, pl_id: @playlist.id, user: current_user.user_name) %><br>

<div>
  <h5>Email Playlist</h5>
  <%= form_tag mailers_path, method: :post do %>
  <%= label_tag :email %>
  <%= text_field_tag :email %>
  <%= submit_tag "Send Email", class: "btn" %>
  <% end %>
</div><br>


  <div>
    <h5>Contribute to Playlist</h5>
    <%= form_tag songs_path, method: :get do %>
      <%= label_tag :query %>
      <%= text_field_tag :query %>
      <%= hidden_field_tag(:pl_id, @playlist.id) %>
      <%= hidden_field_tag(:user, @playlist.owner.id) %>
      <%= submit_tag "Find Track" %>
    <% end %>
  </div>
<ul>
  <h4>Tracks</h4>
  <% @songs.each do |song| %>
    <li>
      <h5> <%= song[:name] %></h5>
      <h6> <%= song[:artists] %></h6>
      <%= song[:duration] %>
    </li>
    <%= link_to "Remove From Playlist", song_path(song, song_id: song[:song_id], pl_id: @playlist.id, user: current_user.user_name), method: :delete, class: "btn" %>
  <% end %>
</ul>

<% if @requests.nil? || @requests == [] %>
  <h3>You have no pending requests</h3>
<% else %>
<div>
    <h3>Pending Requests</h3>
    <table class="pending-requests centered">
      <thead>
        <tr>
            <th class="center-align">Song</th>
            <th>Artist(s)</th>
            <th>Status</th>
            <th></th>
        </tr>
      </thead>
    <% @requests.each do |request| %>
    <tr id="request_id%>">
      <td class="center-align"><%= request[:song_name] %></td>
      <td>Artist Name</td>
      <td> <%= request[:status] %></td>
      <% if request[:status] == "pending" %>
        <td> <%= link_to "Decline", request_path(request, :status => 'denied'), method: :patch, class: "cancel-link" %></td>
        <td> <%= link_to "Approve", request_path(request, :status => 'approved'), method: :patch, class: "complete-link" %></td>
      <% end %>
    <% end %>
<% end %>
