<head>
  <body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
  </head>
  <div class="center">
    <h2 class="white-text"><%= @playlist.name.titleize %></h2>
    <%= link_to "Rename Playlist", edit_playlist_path(@playlist, pl_id: @playlist.id, user: current_user.user_name), class: "btn red" %><br>
  </div>
  <!-- spacers -->
  <div class="row"></div>
  <div class="row"></div>
  <div class="row"></div>

  <div class="white-transparent">
    <div class="row">
      <div class="col m3">
        <p></p>
      </div>
      <div class="col m6 center-align">
        <h5>Email Playlist</h5>
        <%= form_tag mailers_path, method: :post do %>
        <%= label_tag :email %>
        <%= text_field_tag :email %>
        <%= hidden_field_tag(:pl_id, params[:pl_id]) %>
        <%= hidden_field_tag(:pl_name, params[:pl_name]) %>
        <%= hidden_field_tag(:user_id, params[:user_id]) %>
        <%= hidden_field_tag(:user, params[:user]) %>
        <%= hidden_field_tag(:rspotify, params[:id]) %>
        <%= submit_tag "Send Email", class: "btn" %>
        <% end %>
      </div>
    </div><br>
    <div class="row">
      <div class="col m3">
        <p></p>
      </div>
      <div>
        <div class="col m6 center-align">
          <h5>Contribute to Playlist</h5>
          <%= form_tag songs_path, method: :get do %>
          <%= label_tag :query %>
          <%= text_field_tag :query %>
          <%= hidden_field_tag(:pl_id, @playlist.id) %>
          <%= hidden_field_tag(:user, @playlist.owner.id) %>
          <%= submit_tag "Find Track" %>
          <% end %>
        </div>
      </div>
    </div>
    <ul>
    </div>


    <div class="row">
      <div class= "col m6">
        <div class="white-transparent liner">
          <h3 class="center">Tracks</h3>
          <% @songs.each do |song| %>
            <div class="card blue-grey darken-1">
              <div class="card-content white-text center">
                <span class="card-title"><%= song[:name] %></span>
                <p><%= song[:artists] %></p>
              </div>
              <div class="card-action center">
                <%= link_to "Remove From Playlist", song_path(song, song_id: song[:song_id], pl_id: @playlist.id, user: current_user.user_name), method: :delete, class: "red-text", id: "song_#{song[:song_id]}" %>
              </div>
            </div>
            <% end %>
      </div>
    </div>


    <div class="col m6">
      <div class="white-transparent liner">
        <% if @requests.nil? || @requests == [] %>
          <h3 class="center">You have no pending requests</h3>
        <% else %>
          <h3 class="center">Pending Requests</h3>
          <table class="pending-requests centered">
          <thead>
            <tr>
              <th class="center-align">Song</th>
              <th>Artist(s)</th>
              <th></th>
              <th class="center">Do you want to add this song?</th>
              <th></th>
            </tr>
          </thead>
          <% @requests.each do |request| %>
            <% if request[:status] == "pending" %>
              <tr id="request_id">
                <td class="center-align"><%= request[:song_name] %></td>
                <td><%= request[:artists] %></td>
                <td></td>
                  <td>
                    <%= link_to "Decline", request_path(request, :status => 'denied'), method: :patch, class: "cancel-link red-text" %> /
                    <%= link_to "Approve", request_path(request, :status => 'approved', :pl_id => request[:pl_id], :user => @playlist.owner.id, :song_id => request[:song_id]), method: :patch, class: "complete-link white-text" %>
                  </td>
              <% end %>
          <% end %>
        <% end %>
          </div>
        </div>
      </div>
