<head>
  <body background="https://d1a3f4spazzrp4.cloudfront.net/web-fresh/home/map-web@2x.gif">
  </head>
  <div class="center">
    <h2 class="white-text user-name" id="title"><%= @playlist.name %></h2>
    <button data-target="rename-playlist" class="btn red modal-trigger">Rename Playlist</button><br>
  </div>
  <!-- spacers -->
  <div class="row"></div>

  <div class="row">
    <div class="col s6 center-align">
      <div class="white-transparent liner">
        <h5 class="compact">Email Playlist Link</h5>
        <p class="compact">Enter email address(s) to send link or send to yourself and share w/ friends</p>
        <%= form_tag mailers_path, method: :post do %>
        <%= label_tag :email %>
        <%= text_field_tag :email %>
        <%= hidden_field_tag(:pl_id, params[:pl_id]) %>
        <%= hidden_field_tag(:pl_name, params[:pl_name]) %>
        <%= hidden_field_tag(:user_id, params[:user_id]) %>
        <%= hidden_field_tag(:user, params[:user]) %>
        <%= hidden_field_tag(:rspotify, params[:id]) %>
        <p class="center-align compact">(Use a single space to separate email addresses)</p>
        <%= submit_tag "Send Email", class: "btn" %>
        <% end %>
      </div>
    </div>

    <div class="col s6 center-align">
      <div class="white-transparent liner">
        <h5>Add Song To Your Playlist</h5>
        <%= form_tag songs_path, method: :get do %>
        <%= label_tag :query, "Song Name" %>
        <%= text_field_tag :query %>
        <%= hidden_field_tag(:pl_id, @playlist.id) %>
        <%= hidden_field_tag(:user, @playlist.owner.id) %>
        <!-- <%= submit_tag "Find Track", class: "btn spaced" %> -->
        <% end %>
        <button id="some" data-target="song-search" class="search btn lime darken-2 search">Search</button><br>
      </div>
    </div>
  </div>


  <div class="row">
    <div class= "col s6">
      <div class="white-transparent liner">
        <div class="row pl-songs">
          <h3 class="center">Tracks</h3>
          <% @songs.each do |song| %>
          <div class="col s6">
            <div id="<%= song[:song_id] %>" class="card blue-grey darken-1 track-card">
              <div class="card-content small-card white-text center">
                <span class="card-title track-title"><%= song[:name] %></span>
                <p class="track-artist"><%= song[:artists] %></p>
              </div>
              <div class="card-action medium-action center">
                <button id="<%= song[:song_id] %>" class="delete-track btn small red" name="delete">Delete Track</button>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="col s6">
      <div class="white-transparent liner">
        <% if @requests.empty? %>
          <h3 class="center">You have no pending requests</h3>
        <% else %>
          <h3 class="center">Pending Requests</h3>
          <table class="pending-requests centered">
            <thead>
              <tr>
                <th class="center-align">Song</th>
                <th>Artist(s)</th>
                <th></th>
                <th class="center">Do you want to add this song?</th>
                <th></th>
              </tr>
            </thead>
          <% @requests.each do |request| %>
            <% if request[:status] == "pending" %>
              <tr id="request_id">
                <td class="center-align"><%= request[:song_name] %></td>
                <td><%= request[:artists] %></td>
                <td></td>
                <td>
                  <%= link_to "Decline", request_path(request, :status => 'denied'), method: :patch, class: "cancel-link red-text" %> /
                  <%= link_to "Approve", request_path(request, :status => 'approved', :pl_id => request[:pl_id], :user => @playlist.owner.id, :song_id => request[:song_id]), method: :patch, class: "complete-link white-text" %>
                </td>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="rename-playlist" class="modal black">
    <div class="modal-header">
      <a class="modal-action modal-close waves-effect waves-green btn-flat white-text">X</a>
    </div>
      <div class="row">
        <div class="col m3">
          <p></p>
        </div>
        <div class="col m6 center-align white-text">
          <h5>Change Name</h5>
          <%= form_tag playlist_path(@playlist, pl_id: @playlist.id, user: current_user.user_name), method: :patch do %>
            <%= label_tag :name %>
            <%= text_field_tag :name %>
            <br><br>
            <%= submit_tag "Submit", class: "rename-btn btn lime darken-2" %>
          <% end %>
      </div>
      </div><br>
  </div>

  <!-- Modal -->
  <div id="song-search" class="modal song-mdl">
    <div class="modal-header">
      <a class="modal-action modal-close waves-effect waves-green btn-flat white-text">X</a>
    </div>
    <div class="row">
      <div class="col s12 centered">
        <h1 class="center white-text">Search Results:</h1>
        <table class="bordered centered song-table">
          <thead class="white-text">
            <tr>
              <th data-field="name"><h5>Name</h5></th>
              <th data-field="artist">Artist(s)</th>
              <th data-field="add"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <script>
    $playlistId = '<%= @playlist.id %>';
    $user = '<%= current_user.user_name %>';
  </script>
